@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #3c1053;
}

header {
  width: 100%;
}

.header .main {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  margin-top: 30px;
}

.navbar .brand {
  display: flex;
  margin: 20px 70px;
  color: #78a841;
}

.navbar .brand .fa-wine-bottle {
  font-size: 1.6em;
}

.navbar .brand h3 {
  font-size: 1.3em;
  margin: 5px 5px;
}

.menu ul {
  display: flex;
  justify-content: flex-end;
  margin: -50px 20px;
}

.menu ul li {
  list-style: none;
  margin-right: 70px;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
}

.menu ul li a:hover {
  color: #78a841;
}

.navbar .toggle-menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.navbar .toggle-menu i {
  font-size: 1.8em;
  cursor: pointer;
  color: #fff;
  display: none;
}

.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container-info h1 {
  font-size: 5em;
  font-family: "Permanent Marker", cursive;
  animation: left-move 1s ease-in;
}

.container-info h2 {
  font-size: 2em;
  animation: right-move 1s ease-in;
}

.container-info .btn {
  font-size: 1.5em;
  width: 200px;
  padding: 5px;
  border-radius: 50px;
  background-color: #78a841;
  border: none;
  color: #fff;
  animation: right-move 1s ease-in;
}

.container-info .img-content img {
  max-width: 100%;
  animation: up-move 1s ease-in;
}

.container-info .img-content img:hover {
  filter: grayscale(60%);
}

.container-info .social-content li {
  list-style: none;
  margin: 20px;
  animation: left-move 1s ease-in;
}

.container-info .social-content i {
  font-size: 1.3em;
  color: #78a841;
}

.container-info .social-content i:hover {
  transform: scale(1.5);
}

header .wave {
  margin-top: -100px;
}

.our-products {
  background-color: #fff;
  height: 100vh;
}

@media (max-width: 570px) {
  .navbar .brand i {
    margin-left: -30px;
  }

  .navbar .toggle-menu i {
    display: block;
    margin: -60px 30px;
  }

  .navbar .menu ul {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #3c1053;
    position: fixed;
    margin-top: 30px;
    transform: translateX(-120%);
    transition: 1s ease-in;
  }

  .navbar .menu .menu-on {
    transform: translateX(-4%);
  }

  .navbar .menu ul li {
    margin: 30px;
    text-transform: uppercase;
  }

  .container-info .social-content i {
    display: none;
  }

  .container-info {
    flex-wrap: wrap-reverse;
    margin: -50px 50px;
  }

  .container-info h1 {
    font-size: 3em;
    margin-top: -60px;
  }
  .container-info h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .container-info .img-content img {
    margin-top: 60px;
  }

  header .wave {
    margin-top: 100px;
  }
}

@keyframes left-move {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes right-move {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes up-move {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.products-section {
  background-color: #fff;
}
.products-section .wrapper {
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 60px;
  width: 80%;
  margin: 0 auto;
}

.product-card {
  grid-column-start: span 1;
  display: grid;
  grid-template-rows: 240px auto auto;
  grid-gap: 16px;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.product-card-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product-category {
  color: #333;
  font-size: 12px;
  font-weight: bold;
}
.product-name {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  margin: 8px 0;
}

.product-description {
  color: #333;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  line-height: 1.3rem;
}

.product-rating {
  color: #0ab4b5;
  font-weight: bold;
}
.product-review {
  font-size: 13px;
  color: #555;
  margin-top: 4px;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.button-wrapper button {
  background-color: #3d1853;
  color: #fff;
  border: 0;
  border-radius: 2px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Fira Sans";
  max-width: 160px;
  width: 100%;
}
